// about company
.section--1
	padding-top 100px
	margin-bottom 70px

	.text--1
		width 50%

	.text--2
		width 50%
		margin-top auto
		margin-left 95px

	.text--3
		margin-top 35px
		width 50%
// end about company