// products
#products
	padding-top 100px
	overflow hidden
	+mobile()
		padding-top 20px

article
	background-image linear-gradient(to right bottom, #535352, #444443, #353534, #272725, #1a1a18)
	+mobile()
		margin-bottom 40px !important
		padding 0 !important
	
	.text
		margin-top 40px

	button
		width 25px
		height 25px
		background-color transparent
		background-image url(/images/products/button-tooltip.png)
		border 0
		position absolute
		outline 0
		cursor pointer
		text-indent: -9999px;
		overflow: hidden;

	.product-wrapper
		max-width 470px
		width 100%
		position relative
		+mobile()
			max-width 100% !important
	
	.product__image
		position absolute
		+mobile()
			position relative
			top 0 !important
			left 0 !important
			width 100% !important
			height auto !important
	img
		width 100%

	&.product--1
		padding-top 195px
		padding-bottom 130px
		margin-bottom 80px

		.product-wrapper
			margin-left auto
		
		.product__image
			max-width 723px
			height 350px
			left -500px
			top -270px

			.button--1
				top 95px
				left 270px
				+mobile()
					top: -10px;
					left: 280px;

			.button--2
				top 95px
				left 555px
				+mobile()
					top: 100px;
					left: 20px;
			
			.button--3
				bottom 52px
				left 350px
				+mobile()
					bottom: 10px;
					left: 150px;

	
	&.product--2
		padding-top 150px
		padding-bottom 75px
		margin-bottom 80px

		.product-wrapper
			margin-right auto

			.product__image
				max-width 778px
				top -165px
				right -580px

		.button--1
			top 130px
			right 225px
			+mobile()
				top: 0;
				left: 10px;

		.button--2
			left 230px
			top 135px
			+mobile()
				left: 200px;
				top: 160px;

		.button--3
			bottom 75px
			left 305px

	&.product--3
		padding-top 90px
		padding-bottom 145px
		margin-bottom 60px

		.product-wrapper
			margin-left auto
		
		.product__image
			top -125px
			left -500px
			max-width 439px

		.button--1
			top 90px
			left 40px

		.button--2
			left 340px
			top 85px
			+mobile()
				top: -10px;
				left: 200px;

		.button--3
			bottom 105px
			left 110px

		.button--4
			top: 85px;
			left: 200px;
			+mobile()
				top: 75px;
				left: 170px;
