.section--4
  background-image linear-gradient(to left bottom, #535352, #444443, #353534, #272725, #1a1a18)
  min-height 900px
  padding-top 50px

  .image
    max-width 160px
    height 120px
    margin-top auto
    align-items end
    display flex
    margin-bottom 30px

  img
    margin-top auto
    width 100%

  .carrying__list
    display flex
    flex-wrap wrap
    list-style none
    padding 0
    margin 0
    margin-bottom 100px
    +mobile()
      margin-bottom -50px

    li
      // width 240px
      width 25%
      margin-bottom 70px
      display flex
      flex-direction column
      box-sizing border-box
      // padding-right 30px
      +mobile()
        width 50%
        padding 0 15px
        align-items: center;
        text-align center

    .title
      min-height 100px
      display flex
      align-items flex-end
      margin-bottom 15px
      +mobile()
        // display block
        // min-height auto
        margin-bottom 0
    
    .nubmer
      font-family 'Iceland'
      font-size 40px
      line-height 27px
      display inline-block

    .value
      color #9ba8b0
      margin-left auto
      +mobile()
        margin-left 0 !important
// .carrying__list

  //
  .carrying__list + .wrapper
    max-width 700px
    margin auto

    ul
      font-size 14px
      display flex
      flex-direction column
      list-style none
      padding 0
      margin 0
      
      .source
        line-height 18px

      .figures
        color #9ba8b0
  
  .more
    +mobile()
      text-align center
      margin 20px 0 !important