---
title: 'US RAIL'
---

//- TODO
//- – рефакторинг
//- – тень под продуктами

section.bg-promo
section.container.section--1#about
  h1.min-offset US RAIL Co. offers its customers state-of-the-art solutions in innovative rolling stock, components and accompanying services.
  
  .wrapper.min-offset
    .text.text--1
      p We are a young and dynamic team of professionals with an impressive joint experience in railway transportation.
      p Our commitment is to provide to our customers the best performing solutions.
      p We use global sourcing from our worldwide partners and advanced R&D deliverables for freight wagons and trucks for any track gauge. 

    .text.text--2.
      We have all competences and production facilities necessary to create the additional consumer value of our products based on their performance and manufacturing processes we employ.
  
  .text.bold.text--3.
    With our comprehensive experience, technical resources and professional team, we provide cutting-edge products for heavy haul rail transportation, highly reliable and unique in terms of their performance.

section.section--2#products
  article.product--1
    .container
      .product-wrapper
        h2 Bolster, AAR compliant
        .product__image
          img(src="images/products/image001.png")
          button.button--1(data-tippy="Fully AAR compliant, for car trucks with D5 and D7 springs") +
          button.button--2(data-tippy="Made of Grade B+ Steel") +
          button.button--3(data-tippy="A complete bolster weighs 645 kg which meets the weight requirement to light castings") +
        p.text The bolster has openings to fit all types of truck-mounted brakes and dead lever space for body-mounted brakes. The center bowl uses an AAR compliant wear resistant ring. CCSB mounting surfaces can house any AAR side bearing designs. 
        br
        p Parameters:
        ul
          li Facilitates control of defects by inspectors in operation
          li Premium surface quality
          li Special B+ chemistry with higher mechanical properties
          li Internal solidity and extra clean steel
          li Best weight and tolerances
          li Optimized within M-202 standards

  article.product--2
    .container
      .product-wrapper
        h2 Side Frame,<br> AAR compliant
        .product__image
          img(src="/images/products/image003.png")
          button.button--1(data-tippy="Fully AAR compliant, for car trucks with D5 and D7 springs") +
          button.button--2(data-tippy="Made of Grade B+ Steel") +
          button.button--3(data-tippy="Complete side frame weighs 374 kg which meets the weight requirement to light castings") +
        p.text The unit guides with wear-resistant liners are designed to fit all types of truck-mounted brakes and body-mounted brakes. The columns use wear plates of an AAR design. The pedestal windows are also made to AAR standards and can house adapters with metal wear resistant pedestal roof liners or adapters with elastic pads.
        br
        p Parameters:
        ul
          li Premium surface quality
          li Special B+ chemistry with higher mechanical properties
          li Internal solidity and extra clean steel
          li Best weight and tolerances
          li Optimized within M-203 standards


  article.product--3
    .container
      .product-wrapper
        h2 CCSB, wedge,<br> and adapter,<br> each compliant<br> to AAR standards
        .product__image
          img(src="/images/products/image005.png")
          button.button--1(data-tippy="Side bearing built to AAR standards") +
          button.button--2(data-tippy="Patent US 9,663,120 B2") +
          button.button--3(data-tippy="Cap and cage hardness exceeds 400 HB") +
          button.button--4(data-tippy="Cap friction surface has wear indicators") +
        .text The elements are made of ductile cast iron to ensure a mileage of 1.0 million miles between scheduled repairs.

section.container-big.section--3
  h1 Demand For Freight Transportation<br> Will Rise
    small (billions of tons transported in U.S.)
  
  .wrapper
    .text.text--1 The U.S. DOT forecasts that total U.S. freight movements will rise from around 18.1 billion tons in 2015 to around 25.5 billion tons in 2040 — a 41% increase.
  
    .graph
      ul.graph-list
        li.graph-list__item.graph-list__item--1
          .description 2015e
          .bar
          .value 18.1
        li.graph-list__item.graph-list__item--2
          .description 2020p
          .bar
          .value 20.2
        li.graph-list__item.graph-list__item--3
          .description 2030p
          .bar
          .value 22.9
        li.graph-list__item.graph-list__item--4
          .description 2040p
          .bar
          .value 25.5
      
      ul.description-list
        li e – estimate
        li p – projected

      p.source Source: FHWA Office of Freight Management and Operations, Freight Analysis Framework version 4.4


section.section--4#market
  .container
    h1 Carrying the Things America Depends On
    ul.carrying__list
      li
        .title Intermodal:
        .image
          img(src="/images/carrying/icons-01.svg")
        .value
          .nubmer 13.7
          | million trailers<br>and containers

      li
        .title Food products:
        .image
          img(src="/images/carrying/icons-02.svg")
        .value
          .nubmer 1.6
          | million<br>carloads

      li
        .title Lumber, paper <br>& other forest product:
        .image
          img(src="/images/carrying/icons-03.svg")
        .value
          .nubmer 1.2
          | million<br>carloads

      li
        .title Grain and other<br> farm products:
        .image
          img(src="/images/carrying/icons-06.svg")
        .value
          .nubmer 1.6
          | million<br>carloads

      li
        .title Plastics,<br> fertilizers and<br> other<br> chemicals:
        .image
          img(src="/images/carrying/icons-04.svg")
        .value
          .nubmer 2.3
          | million<br>carloads

      li
        .title Sand, stone &<br> gravel:
        .image
          img(src="/images/carrying/icons-05.svg")
        .value
          .nubmer 1.5
          | million<br>carloads

      li
        .title Motor vehicles<br> and parts:
        .image
          img(src="/images/carrying/icons-07.svg")
        .value
          .nubmer 1.8
          | million<br>carloads

      li
        .title Coal:
        .image
          img(src="/images/carrying/icons-08.svg")
        .value
          .nubmer 4.5
          | million<br>carloads


    .wrapper
      ul
        li.figures Figures are for 2017.
        li.source Source: AAR
      .more.like-h1.
        And much more!

section.section--5
  .container
    h1 In the United States
    ul.list
      li
        .number 140,000
        | miles of track
      li
        .number 1.5+
        | mln rail cars
      li
        .number 600
        | local and regional freight railroads
      li
        .number 7
        | class I railroads
    
    ul.wrapper
      li.source Source: AAR
      li.text Moving freight by rail instead of truck reduces greenhouse gas emissions by an average of 
        span.like-h1 75 percent.

section.section--6#partners
  ul.partners__list.container
    li.like-h1 Partners
    li.wabtec
      img(src="/images/partners/Logo_Wabtec.png", alt="wabtec")
    li.trinityrail
      img(src="/images/partners/Logo_Trinityrail.jpg", alt="trinityrail")