#button-top
	display none // Hidden by default
	width 52px
	height 52px
	background-image url(/images/button-top.png)
	background-color transparent

	position fixed
	bottom 20px
	left 50%
	transform translateX(-50%)
	z-index 1
	//hide text
	overflow hidden
	text-indent -9999px

	&:hover
		opacity .8