footer
  width 1020px
  margin auto
  height 115px
  font-size 19px

  ul
    display: flex
    margin 0
    padding 0
    list-style none
    justify-content space-between
    align-items center
    height 100%

  a,
  span
    color #fff
    text-decoration none
    font-size 19px
    line-height 15px
  
  .pdf
    background-image url('./resources/icons/pdf.png')
    background-repeat no-repeat
    background-position 0 50%
    padding-left 18px
  
  .company
    font-size 21px
    font-weight 900
    line-height 27px