footer
  max-width 1020px
  width 100%
  margin auto
  height 115px
  font-size 19px
  +mobile()
    height auto
    padding 25px
    box-sizing border-box

  ul
    display: flex
    margin 0
    padding 0
    list-style none
    justify-content space-between
    align-items center
    height 100%
    padding 0 10px
    +mobile()
      padding 0
      flex-wrap wrap

  a,
  span
    color #fff
    text-decoration none
    font-size 19px
    line-height 15px
  
  .pdf
    background-image url('/images/icons/pdf.png')
    background-repeat no-repeat
    background-position 0 50%
    padding-left 18px
  
  .company
    font-size 21px
    font-weight 900
    line-height 27px
    +mobile()
      margin-top 20px