.menu
  margin-left auto
  +mobileMenu()
    margin-left 0
    &:after
      content "☰"
      font-size 40px
      color #000

  &__list
    display flex
    justify-content space-between
    margin 0
    padding 0
    width 755px // ???
    +mobileMenu()
      display none
      flex-direction: column;
      width: auto;
      position absolute
      left: 0;
      right: 0;
      background: #fff;
      top: 120px;
      text-align center

    &--open
      display flex

  &__item
    list-style none

  &__link
    font-family 'Iceland'
    font-size 19px
    color $menuColor
    text-decoration none
    text-transform uppercase
    +mobileMenu()
      font-size 30px
      line-height 49px
    
    &:hover
      color $menuColorActive