nav
  margin-left auto

  ul
    display flex
    justify-content space-between
    margin 0
    padding 0
    width 755px // ???

  li
    list-style none

  a
    font-family 'Iceland'
    font-size 19px
    color $menuColor
    text-decoration none
    text-transform uppercase
    
    &:hover
    .active
      color $menuColorActive