.section--5
  padding-top 75px
  padding-bottom 60px
  background-image url('./resources/bg-market.png')
  background-size: cover;

  h1
    margin-top 0
    margin-left 55px
    margin-bottom 60px

  .list
    margin 0
    margin-bottom 75px
    padding 0
    list-style none

    li
      margin-bottom 30px
      display flex
      color #9ba8b0
      align-items flex-end

    .number
      font-family 'Iceland'
      font-size 90px
      line-height 48px
      margin-right 10px
      color #fff
      width 305px
      text-align right
  
  .wrapper
    flex-direction row
    margin 0
    padding 0
    list-style none
    width 865px
    margin-left 150px

    .source
      font-size 14px
      margin-top 15px
      margin-right auto
    
    .text
      width 700px
      font-size 41px
      line-height 48px