.section--6
  height 180px
  background #fff
  color #1a1a18

  .partners__list
    display flex
    align-items center
    justify-content space-between
    height 100%
    padding 0
    // margin 0
    // margin-left 80px
    list-style none
  
  .like-h1
    margin 0
    
  .wabtec
    width 225px

  .trinityrail
    width 315px

  img
    width 100%
