h1, h2, h3, h4, h5, h6
  font-family 'Coda'
  font-weight 900

h1,
.like-h1
  font-size 41px
  font-weight 900
  line-height 48px
  margin-bottom 30px

  small
    font-size 31px
    font-weight 400
    margin-left 10px

h2,
.like-h2
  font-size 32px
  line-height 48px
  color #9ba8b0
  margin-top 0
  margin-bottom 45px
