// tooltip
.tippy-tooltip.dark-theme
	background-color #1a1a1a
	box-sizing border-box
	font-size 16px
	line-height 16px
	border 1px solid rgba(255, 255, 255, .85)
	width 188px
	padding 20px 10px 20px 20px
	text-align left
	border-radius 0

	.tippy-arrow
		border-top 8px solid transparent
		border-bottom 8px solid transparent
		&:after
			content: ""
			position: absolute
			top -7px
			left -9px
			border-left 7px solid #1a1a1a
			border-top 7px solid transparent
			border-bottom 7px solid transparent

.tippy-popper[x-placement^='left'] .tippy-arrow
	border-left 8px solid rgba(255,255,255,.85)
	right -9px

	&:after
		left -9px
		border-left 7px solid #1a1a1a

.tippy-popper[x-placement^='right'] .tippy-arrow
	border-right 8px solid rgba(255,255,255,.85)
	left -9px

	&:after
		right: -9px;
		border-right 7px solid #1a1a1a

