footer#contacts
  ul
    li
      a.pdf(target="_blank" href="/pdf/Terms_of_use.pdf") Terms Of Use 
    li
      a.pdf(target="_blank" href="/pdf/Privacy_Policy.pdf") Privacy Policy
    li
      span ©2018 – 2019 US RAIL Company. All Rights Reserved.
    li
      .company US RAIL Company
      | Phone:
      | 
      a(href="tel:+ 1 (202) 723-1018") + 1 (202) 723-1018<br>
      | E-mail:
      | 
      a(href="mailto:sales@usrail.com") sales@usrail.com