-
  var menu = {
    'about company': '#about',
    //- 'our products': '#products',
    'market': '#market',
    'team': '#team',
    'our partners': '#partners',
    'contacts': '#contacts',
  };

nav.menu
  ul.menu__list
    each val, key in menu
      li.menu__item
        a.menu__link(href=val, title=key)= key