doctype html
head
	title= title
	link(rel="shortcut icon" href="/favicon.png")
	meta(charset="utf-8")
	meta(content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1.0, maximum-scale=1" name="viewport")
	include ../blocks/favicon
	block head
body
	header#top
		a.logo(href="/") US Rail
		include ../blocks/menu

	block content
		!= content
	
	include ../blocks/footer
	a#button-top(href="#top") Go to Top
